@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue.ttc') format('ttc');
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommonsRegular.otf') format('otf');
}

/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55'); */

body {
    /* font-family: HelveticaNeue; */
    font-family: 'Helvetica Neue', sans-serif;
}

/* .container {
    max-width: 1570px !important;
} */

.bg-dark-gry {
    background-color: #CAD2D8;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-50 {
    padding-bottom: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.align-cent {
    align-items: center;
}

.po-re {
    position: relative;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.pb-30 {
    padding-bottom: 30px;
}

.align-cent {
    text-align: center;
}

.singapore_banner {
    height: 100vh;
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding-top: 4%;
    padding-bottom: 10%;
}

.banner-logo {
    text-align: left;

    img {
        width: 30%;
    }
}

.react-tel-input input.form-control {
    width: 100%;
    border: none !important;
    border-bottom: 1px solid #7F868D !important;
    font-size: 20px !important;
    font-weight: 300;
    margin-bottom: 30px !important;
    border-radius: unset !important;
}

.flag-dropdown {
    border: unset !important;
    border-bottom: 1px solid #7F868D !important;
    border-radius: unset !important;
    background: transparent !important;
}

.react-tel-input input.form-control {
    width: 100%;
    border: none !important;
    border-bottom: 1px solid #7F868D !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    margin-bottom: 30px !important;
    border-radius: unset !important;
    color: #7F868D;
    font-family: 'TT Commons', sans-serif;
}

.form-control:focus {
    box-shadow: none !important;
}

input.c_number {
    width: 79% !important;
    float: right;
}

input.c_code {
    width: 20% !important;
    display: inline-flex;
}

.dev-logo {
    text-align: right;

    img {
        width: 30%;
    }
}

.banner_text {
    margin-top: 16%;
    margin-bottom: 0px;
}

.banner_text h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 3px;
    text-align: center;
    color: #fff;
    padding: 30px;
}

.banner_list p {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 48.42px;
    letter-spacing: 0.11em;
    text-align: center;
    color: #fff;
}

.reg_btn button {
    display: block;
    background-color: #E97C04;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    max-width: max-content;
    padding: 10px 80px;
}

.about_heading h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.02em;
    color: #1E4F91;
}

.about_heading h3 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.04em;
    color: #EB8023;
}

.singapore_about .about_text {
    padding-top: 20px;
    /* position: relative; */
    /* padding-right: 10%; */
}

.singapore_about {
    position: relative;
}

/* .singapore_about::before {
    content: '';
    position: absolute;
    right: 0;
    width: 16%;
    height: 50%;
    background-image: url('../../public/img/singapore/hong-kong-id.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} */

.about_text>h3 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 39.09px;
    letter-spacing: 0.04em;
    color: #1E4F91;
    padding-bottom: 30px;
}

.about_text>p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: normal;
    color: #000;
    font-family: 'TT Commons', sans-serif;
}

.list_text p {
    font-size: 16px;
    font-weight: 700;
    color: #E97C04;
    text-transform: uppercase;
    margin-bottom: 0;
}

.list_text h3 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #085394;
    margin-bottom: 0;
}

.list_icon>img {
    width: 100%;
}

.list_text {
    text-align: left;
}

.row.align-cent.bg-section {
    background-color: #F7F7F7;
    border-radius: 10px;
    padding: 50px;
    text-align: left;
    margin-bottom: 50px;
}

.whyDamacSection {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3%;
    padding-bottom: 5%;
}

.whyus_text h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 39.09px;
    letter-spacing: normal;
    text-align: left;
    color: #085394;
    margin-bottom: 30px;
}

.whyus_text p {
    font-family: 'TT Commons', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: normal;
    color: #000;
    margin-bottom: 30px;
}

.whyus_text span {
    font-family: 'TT Commons', sans-serif;
}

.damac-logo-list {
    text-align: right;
    margin-bottom: 60px;

    img {
        width: 35%;
    }
}

.damac-text {
    text-align: left;
}

.damac-text h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.43px;
    letter-spacing: 0.05em;
    color: #1E4F91;
}

.damac-text p {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.1px;
    letter-spacing: normal;
    color: #000;
    text-transform: uppercase;
}

.singapore_page .list_box>img {
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.singapore_page .list_box {
    background: #fff;
    margin-bottom: 60px;
    border-radius: 30px;
    padding: 0;
}

.singapore_page .list_box .box_details {
    padding: 0 30px 30px 30px;
}

.roi-detail h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 68.41px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #1E4F91;
    margin-bottom: 50px;
}

.roi-descri {
    text-align: left;
}

.roi-descri p {
    font-family: 'TT Commons', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 31.07px;
    text-align: left;
    color: #000;
}

.roi-descri span {
    color: #DE8F05;
}

.roi-descri h3 {
    font-family: 'TT Commons', sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.11px;
    letter-spacing: 0.04em;
    text-align: left;

}

.roi-descri a {
    font-family: 'TT Commons', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 19.13px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #000;
}

.roi-detail .accordion__button {
    font-family: 'TT Commons', sans-serif;
    font-size: 23px;
    font-weight: 500;
    line-height: 40.63px;
    text-align: left;
    color: #000;
    background-color: unset;
    padding: 20px 20px 20px 5px;
}

.roi-detail .accordion {
    border: none;
}

.roi-detail .accordion__panel p {
    font-family: 'TT Commons', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 35.85px;
    text-align: left;
    color: #000;
    margin-right: 3%;
}

.roi-detail .accordion__button:before {
    height: 17px;
    width: 17px;
    margin-right: 0 !important;
    border-bottom: unset !important;
    border-right: unset !important;
    color: #DE8F05;
    content: '+';
    font-size: 40px;
    transform: unset !important;
    float: right;
    margin-left: 2%;
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    /* transform: rotate(45deg); */
    content: '-' !important;
}

.roi-detail .accordion__item+.accordion__item {
    border-top: 2px solid #DE8F05;
}

/* Extra Small Devices, Phones */
@media (min-width: 320px) and (max-width: 767px) {
    .singapore_banner {
        height: auto;
    }

    .footer_center a img {
        width: 30%;
    }

    .roi-map>img {
        max-width: 100%;
        margin-top: 60px;
    }

    .banner_text {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .banner_text h2 {
        font-size: 23px;
        line-height: 30px;
        padding: 15px;
        letter-spacing: normal;
    }

    .banner_list p {
        font-size: 16px;
        line-height: normal;
        letter-spacing: normal;
    }

    .reg_btn button {
        font-size: 18px;
        padding: 10px 30px;
        margin-bottom: 30px;
    }

    .registrationpopup form label {
        width: 90%;
        float: inline-end;
        margin-bottom: 20px;
    }

    .list_box {
        & .box_details {

            p.address,
            p.flate-type {
                font-size: 15px !important;
            }
        }
    }

    .list_box {
        & .box_details {
            button {
                font-size: 16px !important;
            }
        }
    }

    .about_heading h2 {
        font-size: 24px;
        line-height: normal;
        letter-spacing: normal;
    }

    .dot {
        height: 8px !important;
        width: 8px !important;
    }

    .about_heading h3 {
        font-size: 20px;
        line-height: normal;
        letter-spacing: normal;
    }

    .about_text>h3 {
        font-size: 20px;
        line-height: normal;
        letter-spacing: normal;
        padding-bottom: 10px;
    }

    .list_icon>img {
        width: 100%;
    }

    .whyus_text p {
        font-size: 13px;
        line-height: 26px;
    }

    .whyus_text span {
        font-size: 12px;
    }

    .damac_logo>img {
        width: 100%;
    }

    .damac-text h3 {
        font-size: 12px;
        line-height: normal;
        letter-spacing: normal;
    }

    .list_text h3 {
        font-size: 26px;
        line-height: 23px;
    }

    .whyus_text h3 {
        font-size: 22px;
        line-height: normal;
        letter-spacing: normal;
    }

    .list_text p {
        font-size: 10px;
    }

    .list_text {
        text-align: left;
        margin-bottom: 0px;
    }

    .mob-ped {
        padding-right: 0 !important;
    }

    .damac-text p {
        font-size: 10px;
        line-height: normal;
        letter-spacing: normal;
        text-transform: capitalize;
    }

    .row.align-cent.bg-section {
        padding: 50px 15px;
    }

    .damac-logo-list {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 0px;

        img {
            width: 55%;
        }
    }

    .damac-text {
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
    }

    .roi-detail h2 {
        font-size: 38px;
        line-height: normal;
    }

    .roi-detail h2 {
        font-size: 24px;
        line-height: normal;
        letter-spacing: normal;
        margin-bottom: 30px;
    }

    .roi-detail .accordion__button {
        font-size: 16px;
        line-height: 28px;
    }

    .roi-detail .accordion__panel p {
        font-size: 14px;
        line-height: 24px;

    }

    .roi-detail .accordion__button:before {
        height: 12px;
        width: 12px;
        margin-right: 10px;
    }

    .about_text>p {
        font-size: 13px;
        line-height: 26px;
    }

    .roi-descri p {
        font-size: 15px;
        line-height: 26px;
    }

    .roi-descri h3 {
        font-size: 18px;
    }

    .roi-descri a {
        font-size: 12px;
    }

    .pt-100 {
        padding-top: 50px !important;
    }

    .pb-100 {
        padding-bottom: 50px !important;
    }

    .pt-50 {
        padding-top: 50px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .singapore_banner {
        height: auto;
    }

    .banner_text h2 {
        font-size: 36px;
        line-height: 50px;
        padding: 15px;
    }

    .banner_list p {
        font-size: 22px;
    }

    .reg_btn button {
        font-size: 18px;
        padding: 15px 75px;
    }

    .about_heading h2 {
        font-size: 38px;
        letter-spacing: normal;
    }

    .about_heading h3 {
        font-size: 28px;
        letter-spacing: normal;
    }

    .about_text>h3 {
        font-size: 22px;
        letter-spacing: normal;
    }

    .dot {
        height: 10px;
        width: 10px;
    }

    .about_text>p {
        font-size: 18px;
        line-height: 28px;
    }

    .list_text h3 {
        font-size: 32px;
    }

    .list_text p {
        font-size: 16px;
    }

    .pt-50 {
        padding-top: 50px !important;
    }

    .pt-100 {
        padding-top: 50px !important;
    }

    .pb-100 {
        padding-bottom: 50px !important;
    }

    .roi-map>img {
        width: 100%;
    }

    .roi-descri p {
        font-size: 16px;
    }

    .roi-descri h3 {
        font-size: 18px;
    }

    .roi-descri a {
        font-size: 14px;
    }

    .row.align-cent.bg-section {
        padding: 50px 15px;
    }

    .whyus_text h3 {
        font-size: 24px;
        letter-spacing: normal;
    }

    .whyus_text p {
        font-size: 16px;
        line-height: 28px;
    }

    .whyus_text span {
        font-size: 12px;
    }

    .col-lg-1 {
        display: none;
    }

    .damac-logo-list {
        text-align: center;
    }

    .damac-logo-list>img {
        width: auto;
    }

    .roi-detail h2 {
        font-size: 32px;
        text-align: left;
        margin-bottom: 20px;
        letter-spacing: normal;
    }

    .roi-detail .accordion__button {
        font-size: 20px;
    }

    .roi-detail .accordion__panel p {
        font-size: 16px;
    }

    .roi-detail .accordion__button:before {
        height: 14px;
        width: 14px;
    }

    .damac_logo>img {
        width: 100%;
    }

    .damac-text h3 {
        font-size: 16px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .container {
        max-width: none !important;
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {
    .singapore_banner {
        height: auto;
    }

    .roi-map>img {
        width: 100%;
    }

    .banner-logo {
        img {
            padding-bottom: 0;
        }
    }

    .list_icon>img {
        width: 100%;
    }

    .whyus_text h3 {
        font-size: 26px;
    }

    .damac_logo>img {
        width: 100%;
    }

    .list_box {
        & .box_details {

            p.address,
            p.flate-type {
                font-size: 16px !important;
            }
        }
    }

    .list_box {
        & .box_details {
            h3 {
                font-size: 16px !important;
            }
        }
    }

    .list_box {
        & .box_details {
            button {
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width: 1366px) and (max-width: 1439px) {
    /* .home .container {
        max-width: 1140px !important;
    } */

    .roi-map>img {
        width: 100%;
    }

    .banner-logo img {
        width: 35%;
    }

    .dev-logo img {
        width: 40%;
    }

    .banner_text h2 {
        font-size: 38px !important;
        line-height: 44.97px;
        padding: 30px;
    }

    .banner_list p {
        font-size: 30px !important;
    }

    .reg_btn button {
        font-size: 28px !important;
        padding: 15px 75px;
    }

    .about_heading h2,
    .roi-detail h2 {
        font-size: 38px !important;
    }

    .about_heading h3 {
        font-size: 32px !important;
    }

    .about_text>p {
        font-size: 20px !important;
    }

    .list_text h3 {
        font-size: 38px !important;
    }

    .list_text p {
        font-size: 14px !important;
    }

    .row.align-cent.bg-section {
        padding: 50px;
    }

    .whyus_text h3 {
        letter-spacing: normal;
    }

    .whyus_text p {
        font-size: 16px !important;
    }

    .damac_logo>img {
        width: 100%;
    }

    .mob-ped {
        padding-right: 0 !important;
    }

    .list_box {
        & .box_details {

            p.address,
            p.flate-type {
                font-size: 15px !important;
            }
        }
    }

    .list_box {
        & .box_details {
            h3 {
                font-size: 17px !important;
                text-transform: capitalize;
            }
        }
    }

    .roi-descri p {
        font-size: 18px !important;
    }

    .roi-detail .accordion__button {
        font-size: 23px !important;
    }

    .roi-detail .accordion__panel p {
        font-size: 18px !important;
        line-height: 32px;
    }

    .footer_section {
        & .footer_right {
            & ul.footer_menu {
                & li {
                    a {
                        font-size: 16px !important;
                        padding: 0 7px !important;
                    }
                }
            }
        }
    }

    .footer_section {
        & .footer_left {
            p {
                font-size: 14px !important;
            }
        }
    }

    .footer_section {
        & .footer_right {
            & ul.social_icons {
                li {
                    padding-right: 25px;
                }
            }
        }
    }

    .damac-text p {
        font-size: 15px !important;
        letter-spacing: normal;
        text-transform: capitalize;
    }
}